.form-control {
  border-radius: 0;
  border: 1px solid #fe6601;
  background-color: transparent;
  font-size: 18px;
  width: 100%;
  min-height: 40px;
  color: white;
}
.error-text {
  text-align: start;
  color: rgb(253, 33, 85);
}
.form-control__invalid {
  border: 2px solid rgb(253, 33, 85);
  color: rgb(253, 33, 85);
}
.form-control:focus {
  color: white;
  outline: none;
  background-color: transparent;

  box-shadow: none;
  font-size: 14px;
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px #2c2f33 inset !important;
  -webkit-text-fill-color: #fff;
}
