.section-2 .whole-card {
  display: inline-block;
  margin: 1%;
}

.whole-card:hover {
  cursor: pointer;
}

.whole-card:hover .card-body {
  transform: translate(0, -10px);
  animation: animate 0.1s ease;
}
.card {
  border: none;
}
.card-body {
  background-color: #444444;
  border-left: 3px solid #fff;
  font-size: 16px;
  max-height: 200px;
  min-height: 150px;
  line-height: 1.2rem;
  overflow-y: hidden;
}
.card-text {
  font-size: 1.2rem;
  font-weight: 500;
  color: white;
}
.card-body .txt-secondary {
  color: white;
}

@keyframes animate {
  0% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(0, -5px);
  }
  100% {
    transform: translate(0, -10px);
  }
}
