.whole-card {
  display: inline-block;
  min-width: 230px;
  max-height: 460px;
}

.whole-card:hover {
  cursor: pointer;
}
.whole-card .card-img-top {
  transition: 0.5s all ease-in-out;
  width: 100%;
}
.whole-card:hover .card-img-top {
  transform: scale(1.2);
}

.whole-card:hover .card-body {
  transform: translate(0, -10px);
  animation: animate 0.1s ease;
}

.card-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  text-align: end;
  padding-left: 0;
  border: none;
}

@keyframes animate {
  0% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(0, -5px);
  }
  100% {
    transform: translate(0, -10px);
  }
}
