form{
    /* background-color: #E2E8F0; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 5px;
    padding: 18px 20px ;
    margin:10px;
    width: 60%;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    
}
textarea,input, input:active ,input:focus{  
    margin: 10px ;
    padding: 5px;
    border: 1px solid rgb(33, 207, 238);
    border-radius: 4px;
}

input:-webkit-autofill, input:-webkit-autofill:hover, input:-webkit-autofill:focus, input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 30px #fff inset !important;
    -webkit-text-fill-color: #fff;

}
label{
    margin: 10px ;
    font-size: 20px;
    
}

button{
    color: azure;
    width: fit-content;
    padding: 10px 25px ;
    border-radius: 5px;
    align-self: flex-end;
    margin: 10px;
}

button:disabled{
    background-color: gray;
}