.projectcard {
  margin-top: 20px;
  height: 200px;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-items: center;
  padding: 0;
}

.projectcard img {
  width: 100%;
  object-fit: contain;
}
