.projectcard {
  margin-top: 20px;
  padding: 4px;
  size: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 250px;
}

.projectcard .card {
  height: 300px;
}
.detail {
  color: white;
}
.detail .row {
  display: flex;
  flex-direction: row;
}
