.card {
  position: relative;
  background-color: black;
  color: white;
  height: 100%;
}

.img-div {
  overflow: hidden;
  display: flex;
  height: 50%;
}
.img-div img {
  width: 100%;
  object-fit: cover;
}
.card-body {
  padding: 2em;
}

.card-body h1 {
  color: #ffba04 !important;
  font-size: 2em !important;
  margin-top: 0;
}
.card-body p {
  font-size: 1em;
  /* overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap; */
}
.card:hover {
  cursor: pointer;
  background-color: #1c1c1e;
}
.card .img-div img {
  transition: 0.5s all ease-in-out;
}
.card:hover .img-div img {
  transform: scale(1.2);
}

.fa-solid {
  position: absolute;
  bottom: 20px;
  right: 20px;
}
