.section {
}
@media (max-width: 1000px) {
  .section {
    padding: 5vh 10vw 0 10vw;
  }
}

.section-2 .header1 {
  display: inline;
  color: white;
  font-size: 50px;
  font-weight: 400;
}
.section-2 .txt-desc {
  font-size: 18px;
  font-weight: 400;
  color: white;
}

.section-2 .container {
  margin: auto;
  width: 100vw;
  justify-content: center;
}
.section-2 .more-services {
  align-items: center;
  text-align: end;
  color: #fe6601;
  margin: 20px 40px 20px 20px;
}

.section-4 {
  max-width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.section-4 .row {
  justify-content: center;
  margin-left: 2vw;
  margin-right: 2vw;
}
.section-4 .header1 {
  display: inline;
  color: white;
  font-size: 50px;
  font-weight: 400;
  text-align: center;
}

.section-4 .container {
  margin: auto;
  width: 100vw;
  justify-content: center;
}

.buton {
  position: fixed;
  bottom: 6vh;
  right: 10vw;
  z-index: 5;
  background-color: #fe6601;
  border: none;
  width: auto;
  height: auto;
  font-size: 18px;
  font-weight: 200;
  min-height: 40px;
  padding: 0 20px;
  border-radius: 5px;
  text-align: center;
}
.buton i {
  margin: 0 !important;
}
@media screen and (max-width: 435px) {
  .hide {
    display: none;
  }
  .buton {
    border-radius: 50%;
    height: 50px;
    width: 50px;
    padding: 0;
  }
}

.buton a {
  text-decoration: none;
  color: white;
}
.buton .fa-paper-plane {
  margin-right: 10px;
}

.section-4 .center {
  justify-content: center;
}

.header5 {
  display: inline;
  color: white;
  font-size: 50px;
  font-weight: 400;
}

.section-5 {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.section-5 .row {
  padding-top: 40px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  /* flex-direction: row;
  flex-wrap: nowrap;
  overflow-x: scroll; */
  width: 85%;
}

.section-5 .desc {
  margin-top: 20px;
  font-size: 18px;
  color: white;
}
