.services-page {
  margin-top: 10vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  margin: 0;
  padding: 10vw;
}
.services-page .card-img-top {
  max-height: 50vh;
}
.services-page .whole-card {
  margin-bottom: 10px;
}
