#service-page {
  margin: 10vh 6vw;
  & h2 {
    color: #fbb514;
  }
}
.ser-grid {
  padding: 1em;
  display: grid;
  grid-gap: 2em;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));

  & .ser-txt {
    color: #1c1c1e;
  }
}
.ser-grid img {
  object-fit: cover;
  width: 100%;
}

/* @media (max-width: 600px) {
  .ser-grid {
  
    & .ser-txt {
      width: 80%;
      padding-left: 1em;
    }
  }
} */
