#about {
  margin: 10vh 0;
  padding: 10vw;
  /* background-image: url("../../public/assets/hv.jpg"); */

  background-position: 0%;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #262528;
}
.about {
  padding: 3em 0;
  text-align: center;
}
.about h1 {
  font-size: 3rem;
  color: #ffba04;
}
.about p {
  font-size: 18px;
  color: #ffffff;
}

.about button {
  background-color: #fbb514;
  color: #1e1e1e;
  font-size: 18px;
  padding: 0.5em 2em;
  border: 1px solid #1e1e1e;
}

@media (max-width: 550px) {
  .about {
    width: 90%;
    padding: 3em 0;
  }
}
