footer {
  /* background-color: #333333; */
  color: #1c1c1e;
  padding: 3em;
  display: grid;
  gap: 1em;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
}

.img-container {
  height: 200px;
  display: flex;

  justify-content: center;
}
.footer-img {
  max-width: 100%;
  min-width: 10rem;
  height: 100%;
  object-fit: contain;
}
footer a {
  color: #1c1c1e;
}

footer li {
  margin-bottom: 5px;
  font-size: 18px;
}
i {
  color: #fbb514;
  font-size: 24px;
}

@media (max-width: 760px) {
  footer {
    grid-template-columns: 1fr;
  }
}
