#services h1 {
  font-size: 2.5rem;
  color: #1c1c1e;
  margin-bottom: 0;
}

#services h3 {
  margin-top: 0;
  font-size: 1.5rem;
  color: #1c1c1e;
}
.capsolls {
  width: 60%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 2em 0;
}
.capsole {
  color: #1c1c1e;
  font-weight: 600;
  padding: 5px 10px;
  margin: 3px 1em 3px 0;
  text-align: center;
  align-items: center;
  background-color: #f6b401;
  border-radius: 16px;
}

.projects {
  display: grid;
  grid-gap: 4em;
  justify-content: center;
  align-items: center;
  grid-template-columns: repeat(auto-fit, minmax(300px, 0.8fr));
}
