.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

.content{
  justify-content: center;
}

.txt-primary{
  font-size: 3rem;
  font-weight: 900;
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: black;
}
.txt-secondary{
  font-size: 1.5rem;
  font-weight: 800;
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: black;
} 
.txt-desc{
  font-size: 1.1rem;
  font-weight: 400;
  color: black;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
