nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 3px 16vw;
}
.nav-links {
  margin: 0;
  width: 70%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

.navlink {
  margin-left: 1rem;
  & a {
    white-space: nowrap;
    text-decoration: none;
    font-weight: bold;
    color: #fbb514;
  }
  & a:hover {
    color: #000;
  }
}
.navlink:last-child {
  border: 1px solid #1e1e1e;
  padding: 8px;
  border-radius: 18px;
}

#logo {
  height: 70px;
  margin: 10px 0;
}
.hamburger {
  display: none;
  height: 30px;
  width: 30px;
  font-size: 24px;
  color: #fbb514;
}

@media (max-width: 750px) {
  .nav-links {
    display: none;
  }
  .hamburger {
    display: block;
  }
}
